---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import ProfileSection from '@components/ProfileSection.astro';
import AboutSection from '@components/AboutSection.astro';
import ProjectsSection from '@components/ProjectsSection.astro';
import SkillsSection from '@components/SkillsSection.astro';
import AcademicSection from '@components/AcademicSection.astro';
import FinalSection from '@components/FinalSection.astro';
import CertificationSection from "@components/CertificationSection.astro";
import LanguageSection from "@components/LanguageSection.astro";
---

<Layout title="Daniel Carrión - Portfolio">
  <div class="min-w-[535px] max-w-screen-sm mx-auto py-16 px-8 selection:bg-gray-600 selection:text-white">
    <header>
      <Navbar />
      <ProfileSection />
    </header>
    <main>
      <AboutSection />
      <ProjectsSection />
      <SkillsSection />
      <AcademicSection />
      <CertificationSection/>
      <LanguageSection />
    </main>
    <footer>
      <FinalSection />
    </footer>
  </div>
</Layout>
