<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1 " data-i18n>Sobre mi</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400" data-i18n>Soy estudiante universitario con interés en ciberseguridad y análisis de sistemas. Me gusta aprender de forma estructurada y convertir el conocimiento en recursos útiles para organizaciones. Aunque estoy iniciando mi experiencia práctica, me esfuerzo por comprender cada herramienta a fondo y aplicarla con responsabilidad. Actualmente me preparo para certificaciones como Linux+ y Pentest+, y desarrollo proyectos desde mi homelab. Busco oportunidades donde pueda seguir aprendiendo y contribuir con compromiso.</p>
</section>
