<div class="flex flex-col items-center justify-center mt-20 mb-16">
  <h1 class="text-4xl font-bold block" data-i18n>Daniel Carrión</h1>
  <p class="text-2xl text-zinc-400" data-i18n><em>Estudiante de ciberseguridad</em></p>
</div>
