---
import ProjectCard from '@components/ProjectCard.astro'
import PfSense from '@assets/icons/pfsense.astro';
import Splunk from '@assets/icons/splunk.astro';
import Ubuntu from '@assets/icons/ubuntu.astro';
import WindowsAD from '@assets/icons/windowsad.astro';
import Nessus from '@assets/icons/nessus.astro';
import Nmap from '@assets/icons/nmap.astro';
const Prodesc1 = `\nImplementación de Windows Active Directory para la gestión de usuarios y grupos
\nArquitectura de red a través de pfSense, estableciendo reglas de firewall y segmentación de tráfico
\nDespliegue de servidor web vulnerable a ataques para pruebas de penetración
\nImplementación de herramientas de seguridad (Firewall, IDS, IPS, DLP, SIEM, Gestor de vulnerabilidades) como pfSense, Suricata, OpenDLP, Splunk, Nessus`;
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2" data-i18n>Proyectos</h2>
  <hr class="mb-6 border-zinc-600">
  <!-- Proyecto con descripción multilínea -->
  <ProjectCard
      projectTitle="Implementación de laboratorio virtual para pruebas de seguridad"
      projectDescription={Prodesc1}
      projectLink="/Project_Homelab/index.html"
      dataI18nTitle
      dataI18nDescription
  >
    <PfSense />
    <Splunk />
    <Nessus />
    <WindowsAD />
    <Ubuntu />
</section>
